// Title
h1, h2 {
    // TODO: Fix font
    font: bold italic 100px Monaco, times new roman, serif;
    color: #555;
    letter-spacing: -.09em;
    -webkit-transition-duration: 1s;
}
h2  {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.6;
}

// Layout
#mid-wrapper {
    @include row();
}
#main {
    @include column(8);
}
#sidebar {
    @include column(3);
}

// Input type navigation
.inputType.btn.active {
    background: $primary-color;

    a {
        color: white;
        cursor: default;
    }
}


// Sudoku
$divider-border: 1px dashed black;

.sudoku-cell {
    // May be overridden by js
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

span.sudoku-cell {
    display: inline-block;
    padding: 2%;

    background: papayawhip;

    &.solved {
        background: aliceblue;
    }

    &:nth-child(3),
    &:nth-child(6) {
        border-right: $divider-border;
    }
}

input.sudoku-cell {


    &:focus {
        background: papayawhip;
    }
}


.sudoku-row {
    &:nth-child(3),
    &:nth-child(6) {
        //border-bottom: $divider-border;
    }
}

// Form
// TODO: Exclamation mark on hover Solve
// TODO: Fix submit button style,

// Removes outline on input squares, and clicked submit-button etc
input {
    outline: none;
}

// Sidebar
#sidebar .btn {
    width: 100%;
}

