// Title
h1, h2 {
    font: bold italic 100px Monaco, monospace;
    color: #555;
    letter-spacing: -.09em;
}
h2  {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
}

// Layout
#wrapper {
    max-width: 960px !important;
}
.mid-wrapper {
    @include row();
    margin-bottom: 50px;
}
#main {
    @include column(8);
}
#sidebar {
    @include column(3);
}

// Input type navigation
.inputType.btn.active {
    background: $primary-color;

    a {
        color: white;
        cursor: default;
    }
}


// Sudoku grid
.sudoku-cell {
    // May be overridden by js
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}
// Solved sudoku
span.sudoku-cell {
    display: inline-block;
    padding: 2%;
    background: papayawhip;

    &.solved {
        background: aliceblue;
    }

}

// Form

// Removes outline on input squares, and clicked submit-button etc
input {
    outline: none;
}
input.sudoku-cell {
    &:focus {
        background: papayawhip;
    }
}

// Monospace to keep text sudokus square
input[type="text"],
textarea.sudoku {
    font-family: monospace;
}

// Make textarea bigger
textarea.sudoku {
    height: 300px !important;
}

// Sidebar
#sidebar {
    margin-left: 50px;
    .btn {
        width: 100%;
    }

    .time-to-solve {
        font-size: 40px;
        text-align: center;
        //background: $secondary-color;
        padding: 5%;
    }
}
