<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
    <div class="row">
        <div class="twelve columns special head">
        <h1>Sudoku</h1>
        <h2>The attractive sudoku solver!</h2>
        </div>
    </div>
    <div class="row">
        <div class="nine columns" id="main">
            {{body}}
        </div>
        <div class="three columns" id="sidebar">
            {{sidebar}}
        </div>
    </div>
    <div class="row">
        <div class="twelve columns" id="footer">
            {{footer}}
        </div>
    </div>
</body>
</html>
