<aside class="sidebar">
    <div class="xlarge btn oval secondary icon-left entypo icon-check"><a href="#">Solve!</a></div>
    <ul>
        <li><div class="medium btn default"><a href="{{formLink}}">Form</a></div></li>
        <li><div class="medium primary btn"><a href="{{textLink}}">Text</a></div></li>
        <li><div class="medium btn default"><a href="{{fileLink}}">File</a></div></li>
    </ul>
    <div class="medium btn oval danger icon-left entypo icon-cancel-circled"><a href="#">Solve!</a></div>
</aside>
