<aside class="sidebar">
    <div class="xlarge btn oval secondary icon-left entypo icon-check"><a href="#">Solve!</a></div>
    <h3>Navigation</h3>
    <ul>
        <li><div class="medium btn default"><a href="{{formLink}}">Form</a></div></li>
        <li><div class="medium primary btn"><a href="{{textLink}}">Text</a></div></li>
        <li><div class="medium btn default"><a href="{{fileLink}}">File</a></div></li>
    </ul>
    <h3>Algorithm</h3>
    <li class="field">
        <label class="radio checked" for="norvig">
            <input name="radio" id="norvig" value="norvig" type="radio" checked="checked">
            <span></span> Norvig
        </label>
        <label class="radio" for="alcesleo">
            <input name="radio" id="alcesleo" value="alcesleo" type="radio">
            <span></span> Alcesleo
        </label>
    </li>
    <div class="medium btn oval danger icon-left entypo icon-cancel-circled"><a href="#">Clear</a></div>
</aside>
