<form action="{{action}}" method="post" enctype="multipart/form-data">
    <div class="mid-wrapper">

        <!-- Input sudoku -->
        <div class="sudoku-input" id="main">
            <ul>
            {{errorMessage}}
            {{input}}
            </ul>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="xlarge btn oval secondary"><input type="submit" value="Solve"></div>
            <fieldset>
                <legend>Options</legend>
                <ul>
                    <li>
                        {{inputType}}
                    </li>
                    <li class="field">
                        <div class="picker">
                            <select name="{{algorithmName}}">
                                <option value="#" disabled>Solving algorithm</option>
                                <option value="1">AI</option>
                                <option value="2" selected>Norvig</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </fieldset>
            <div id="clear" class="medium btn oval danger"><input type="clear" value="Clear" /></div>
        </div>

        <input type="hidden" value="true" name="{{isSubmitted}}" />
    </div>
</form>
