<form action="{{action}}" method="post">
    <div id="mid-wrapper">

        <!-- Input sudoku -->
        <div class="sudoku-input" id="main">
            {{input}}
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="xlarge btn oval secondary icon-left entypo icon-check"><a href=""><input type="submit" value="Solve"></a></div>
            <fieldset>
                <legend>Options</legend>
                <ul>
                    <li>
                        {{inputType}}
                    </li>
                    <li class="field">
                        <div class="picker">
                            <select name="{{algorithmName}}">
                                <option value="#" disabled>Solving algorithm</option>
                                <option value="1">AI</option>
                                <option value="2">Norvig</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </fieldset>
            <div class="medium btn oval danger icon-left entypo icon-cancel-circled"><a href=""><input type="clear" value="Clear" /></a></div>
        </div>

        <input type="hidden" value="true" name="{{isSubmitted}}" />
    </div>
</form>
