<form action="{{action}}" method="post">
    <div id="mid-wrapper">


        <!-- Input sudoku -->
        <div class="input-sudoku" id="main">
            {{input}}
        </div>
        <!-- Sidebar -->
        <div id="sidebar">
            <div class="xlarge btn oval secondary icon-left entypo icon-check"><a href="#"><input type="submit">Solve</a></div>
            {{options}}
            <div class="medium btn oval danger icon-left entypo icon-cancel-circled"><a href="#">Clear</a></div>
        </div>

        <!-- TODO: Can be used by views to determine if the right type of data has been submitted -->
        <input type="hidden" value="__posted__" name="{{isSubmitted}}" />
    </div>
</form>
