<fieldset>
<legend>Options</legend>
<ul>
    <li>
        <ul>
            <li><div class="medium btn default"><a href="{{formLink}}">Form</a></div></li>
            <li><div class="medium btn default"><a href="{{textLink}}">Text</a></div></li>
            <li><div class="medium btn default"><a href="{{fileLink}}">File</a></div></li>
        </ul>
    </li>
    <div class="field">
        <div class="picker">
            <select>
                <option value="#" disabled>Solving algorithm</option>
                <option>Colin Baker</option>
                <option>Sylvester McCoy</option>
                <option>Paul McGann</option>
                <option>Christopher Eccleston</option>
                <option>David Tennant</option>
                <option>Matt Smith</option>
            </select>
        </div>
    </div>
</ul>
</fieldset>
